
data-no-repo
.ipynb_checkpoints
__pycache__
__pycache__/index.cpython-35.pyc
__pycache__/index.cpython-37.pyc


# ignore output files
output.html
output.xls

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot




# PyBuilder
target/



# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site




# downloads
downloads_md/
downloads_md_combine/
downloads_parquet/
downloads_html

sources.txt
url_snapshot.json
url_snapshot.json.backup
download.py
.gitignore
.gitignore
sources_1.txt
sources_2_url_snapshot.json
sources_2.txt
sources_3.txt
sources_4.txt
sources_5.txt
sources_6.txt
sources.txt.old
url_snapshot_snapshot.json
sources_1_url_snapshot.json
sources_3_url_snapshot.json
sources_4_url_snapshot.json
sources_5_url_snapshot.json
sources_6_url_snapshot.json
